
<div class="container" 
  style="display: flex; align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;"
>
<div class="card">
</div>
  <h4>Mi banco - Nueva transferencia</h4>
  <div> 
    <button (click)="Create()" class="btn btn-dark" style="margin: 10px;">Nuevo Destinatario</button>
    <button (click)="Search()" class="btn btn-dark" style="margin: 10px;">Transferir</button>
    <button (click)="History()" class="btn  btn-dark" style="margin: 10px;">Historial</button>
  </div>
</div>

<router-outlet></router-outlet>